.starter-template {
    padding: 40px 15px;
}
.admin-users {
    margin: 0 auto;
    width: 500px;
}
.admin-pages tr.non-draggable {
    cursor: auto;
}
.admin-pages {
    margin: 0 auto;
    width: 900px;
}
#success-pages, #error-pages {
    margin: 50px auto;
    width: 900px;
    display: none;
}
.admin-form {
    margin: 0 auto;
    width: 900px;
}
.admin-login {
    margin: 0 auto;
    width: 300px;
}
.admin-form input {
    margin: 0 0 10px 0;
}
.admin-form #page-short {
    height: 100px;
    margin-bottom: 10px;
    display: none;
}
.admin-form #page-short.visible {
    display: block;
}
.admin-form #page-content {
    height: 300px;
}
#cke_page-content {
    margin-bottom: 15px;
}
.cke_dialog_ui_file {
    height: 150px !important;
}
.cke_dialog_ui_input_file {
    height: 140px !important;
}
.serve-images img {
    margin: 10px;
}
.admin-menu-container {
    margin: 0 0 50px 0;
}
.site-title {
    width: 50%;
    height: 70px;
}
.tree-buttons {
    margin: 0 0 10px 0;
}
.tree-buttons button {
    text-transform: capitalize;
}
.item-link-block {
    display: inline-block;
    margin: 0 0 0 80px;
    visibility: hidden;
}
#item-link {
    min-width: 200px;
    padding: 3px 0;
}