.starter-template {
    padding: 40px 15px;
}
.admin-users {
    margin: 0 auto;
    width: 500px;
}
.admin-pages tr {
    cursor: pointer;
}
.admin-pages tr.non-draggable {
    cursor: auto;
}
.admin-pages tr .ui-icon {
    display: inline-block;
    margin: 2px 0 0 0;
}
.admin-pages {
    margin: 0 auto;
    width: 900px;
}
#success-pages, #error-pages {
    margin: 50px auto;
    width: 900px;
    display: none;
}
.admin-form {
    margin: 0 auto;
    width: 900px;
}
.admin-login {
    margin: 0 auto;
    width: 300px;
}
.admin-form input {
    margin: 0 0 10px 0;
}
.admin-form textarea {
    height: 300px;
}
#cke_page-content {
    margin-bottom: 15px;
}
.cke_dialog_ui_input_file {
    height: 40px !important;
}